* {
  border: none;
  border-radius: 0;
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 12px;
  color: #fbf1c7;
}

window#waybar {
  background: rgba(40, 40, 40, 0.95);
}

#workspaces button.focused {
  background: #d65d0e;
  color: #fbf1c7;
}

#clock, #tray, #battery, #pulseaudio {
  padding: 0 10px;
}
