* {
  border: none;
  border-radius: 0;
  font-family: Inter, "JetBrainsMono Nerd Font";
  font-size: 12px;
  color: #eceff4;
}

window#waybar {
  background: rgba(46, 52, 64, 0.95);
}

#workspaces button.focused {
  background: #88c0d0;
  color: #2e3440;
}

#clock, #tray, #battery, #pulseaudio {
  padding: 0 10px;
}
