window {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  background-color: rgba(30, 30, 46, 0.95);
  color: #f5e0dc;
  border-radius: 8px;
  border: 2px solid #f38ba8;
}

#input {
  margin: 16px;
  padding: 12px 16px;
  border-radius: 6px;
  background-color: #29293d;
  color: #f5e0dc;
  border: none;
}

#scroll {
  margin: 0 8px 12px;
}

#entry {
  padding: 8px 16px;
  border-radius: 6px;
}

#entry:selected {
  background-color: #313244;
  color: #f38ba8;
}
